# Ignore Visual Studio files

/AuthJWT.Api/obj
/AuthJWT.Api/bin
/AuthJWT.Business/obj
/AuthJWT.Business/bin
/AuthJWT.Data/obj
/AuthJWT.Data/bin
/AuthJWT.Entites/obj
/AuthJWT.Entites/bin
/.vs
*.orig
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.nupkg
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vssscc
.builds
*.pidb
*.svclog
[Bb]in
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
[Pp]ackages/

